.footer {
  height: 10vh;
  width: 100%;
  padding: 10px;
  background: linear-gradient(rgba(177, 124, 84, 1) 0%, rgba(198, 155, 124, 1) 100%);
  color: white;
  text-align: center;
}

.imgContainer {
  display: flex; /* centrar imagenes */
  align-items: center; /* centrar imagenes */
  justify-content: center; /* centrar imagenes */
  margin: 7px;
}

.img {
  width: 20px;
  height: auto;
  margin: 0 5px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(11%) hue-rotate(304deg)
    brightness(105%) contrast(100%);
}

.img:hover {
  transform: scale(1.3);
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(91%) sepia(85%) saturate(6756%) hue-rotate(332deg)
    brightness(101%) contrast(103%);
}
